<p>This is a mindfulness app. Such things work slowly.</p>
<p>
  By distilling what you have been thinking about day after day, you'll have an easier
  time dealing with negative thoughts and feelings as they arise.
</p>

<%= render 'form' %>
