<p>Sometimes on persistent thought turns out to be many different thoughts running together.</p>
<p>Sometimes it's the opposite. The only way to figure it out is to examine it over time.</p>

<%= render 'form' %>
