button {
  // font-family: 'Courier', sans-serif;
  font-family: 'Montserrat', sans-serif;
  white-space: normal;
}

input {
  // font-family: 'Courier', sans-serif;
  font-family: 'Montserrat', sans-serif;
}

#log-in {
  padding-top: 1em;
  padding-bottom: 1em;
}
